#title{
  padding: 15px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 0px;
  margin-bottom:0px;
}

#gameTitle{
  text-decoration: none;
  color:rgb(12, 113, 205);
}

#main{
  margin:0vh 25vh;
}

body{
  text-align:center;
  min-height:100vh;
  background-image:url("../images/tessback.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  padding:30px;
  margin:20px;
  font-family:cursive;
}

nav{
  border-bottom:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  padding-bottom:1vh;
}

ul{
  list-style-type:none;
  text-align: center;
  display:inline;
}

li{
  padding:0vh 5vh 0vh 5vh;
  text-decoration:none;
  display:inline;
}
