#title{
  padding:2vh;
  margin-top: 0px;
  margin-bottom:0px;
  border-bottom:3px solid white;
}

#playerCountInput{
  display:block;
  margin:auto;
  margin-bottom:2vh;
  margin-top:2vh;
}

#gameTitle{
  text-decoration: none;
  color:white;
}

#main{
  margin:10vh 50vh;
  height:60vh;
  color:white;
  border: 1px solid white;
  border-radius:10px;
}

.hide{
  visibility: hidden;
  opacity: 0;
}

.nameInput{
  margin-bottom:2vh;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.vote{
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  animation:fadeIn 1s linear;
}

.emphasis{
  color:black;
  /* font-weight: 600; */
}

body{
  text-align:center;
  min-height:100vh;
  max-width:100%; 
  background-image: linear-gradient(to bottom , #b54b12, #dcc113dc);
  font-family: 'Nunito', sans-serif; 
}

nav{
  display:block;
}

button{
  background-color:#cb000097;
  border:1px solid white;
  border-radius:15px;
  color:white;
  padding:0.75vh;
  margin-bottom:2vh;
  margin-top:2vh;
  font-weight:600;
  float:bottom;
}

button:hover{
  background-color:rgb(158, 58, 4)
}

ul{
  list-style-type:none;
  text-align: center;
  display:inline;
}

li{
  text-decoration:none;
  display:inline-block;
}

html{
  max-width:100%;
}

footer{
  position:fixed;
  left:0;
  bottom:0;
  background-color:rgba(194, 194, 194, 0.88);
  width:100%;
}

section{
  justify-content:center;
  margin-top:3vh;
  margin-left:auto;
  margin-right:auto;
  font-weight:400;
  animation:fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


a{
  text-decoration:underline;
  color:rgb(254, 254, 254);
}

a:hover{
  color:#cb000097;
}