#title{
  padding: 15px;
  border: 1px solid black;
  margin-top: 0px;
  background-image:url("tessback.png");
}

#mainSection{
  font-family: cursive;
  background-color:rgb(208, 148, 33)
}

body{
  text-align:center;
  /* background-color:rgb(77, 182, 179); */
  padding:30px;
  font-family:cursive;
}
